@import "tailwindcss";

.slider-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.slider-dot:hover {
  transform: scale(1.3);
  background-color: #333;
}
/* I globals.css eller en annan CSS-fil */
.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
}
